body{
    margin: 0px 180px 0px 180px;
    font-family: 'Playfair Display', serif;
    background-color: rgb(250, 229, 244);
    font-weight: 600;
}

h1{
    font-size: 40px;
}

.cyan-color{
    color: rgb(124, 255, 211);
}

.half-width{
    display: flex;
    width: 100%;
}

.content-1{
    margin-right: 15%;
    margin-bottom: 150px;
}

.half-width img{
    width: 65%;
    margin-left: 250px;
        
}

#heading-1{
    border-left: 4px solid rgb(233, 34, 190);
    padding: 0 20px 0 20px;
    
}

.button{
    text-decoration: none;
    background-image: linear-gradient(rgb(253, 161, 233), rgb(243, 97, 134));
    padding: 3px 12px 3px 12px;
    font-weight: 900;
    color: rgb(253, 253, 253);
    border-radius: 3px;
}

#heading-2{
    text-align: center;
    font-size: 35px;
}
.illust{
    display: flex;
    width: 100%;
    margin-bottom: 150px;    
}

.illust img{
    width: 35%;
}

#illust-1{
    background-color: rgb(202, 255, 218);
    padding: 15px 0px 10px 30px ;
    border-radius: 25px;
    margin: 8px ;
}

#illust-2{
    background-color: rgb(255, 209, 223);
    padding: 15px 0px 10px 30px ;
    border-radius: 25px;
    margin: 8px;
}

#illust-3{
    background-color: rgb(255, 221, 198);
    padding: 15px 0px 10px 30px ;
    border-radius: 25px;
    margin: 8px;
}

.half-width2{
    display: flex;
    margin-right: 20px;
    margin-bottom: 150px;
    background-image: url(/Res/bg/1.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half-width2 img{
    width: 85%;
}

#portfolio{
    text-align: center;
    font-size: 50px;
}

footer{
    color: aliceblue;
    text-align: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}